<h2>Map</h2><div class="actions">
<% if can? :create, Profile %>
	<%= link_to "New profile", new_profile_path %>
<% end %>	
</div>
<% @profiles.each do |profile| %>
	<p><% name = "" %>
	<% unless profile.prefix.blank? %>
		<% name += profile.prefix.strip + " " %>
	<% end %>
	<% name += profile.firstname.strip + " " %>
	<% unless profile.middlename.blank? %>
		<% name += profile.middlename.strip + " " %>
	<% end %>
	<% name += profile.lastname.strip + " " %>
	<% unless profile.suffix.blank? %>
		<% name += profile.suffix.strip + " " %>
	<% end %>
	<% unless profile.firstnamefull.blank? %>
		<% name += "(" + profile.firstnamefull.strip + ") " %>
	<% end %>
	<% unless profile.external_link.blank? %>
		<%= link_to name, profile.external_link %>
	<% else%>
		<%= name %>
	<% end %>
	 (<%=profile.university%><% unless profile.department.blank? %> - <%=profile.department%><% end %>)
	<% if can? :update, profile %>
		| <%= link_to "Edit", edit_profile_path(profile) %>
	<% end %>
	<% if can? :destroy, profile %>
		| <%= link_to "Delete", profile, :confirm => "Are you sure to delete "+name+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</p>
<% end %>
