<h2>Map</h2><div class="actions">
<% if can? :create, Profile %>
	<%= link_to "New profile", new_profile_path %>
<% end %>	
</div>
<% @profiles.each do |profile| %>
	<p>
	<% unless profile.external_link.blank? %>
		<%= link_to profile.fullname, profile.external_link %> 
	<% else%>
		<%= profile.fullname %>
	<% end %>
	  (<%=profile.university%><% unless profile.department.blank? %> - <%= profile.department %><% end %>)
	<% if can? :update, profile %>
		| <%= link_to "Edit", edit_profile_path(profile) %>
	<% end %>
	<% if can? :destroy, profile %>
		| <%= link_to "Delete", profile, :confirm => "Are you sure to delete "+profile.fullname+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</p>
<% end %>
