<%= form_for [@blogpage, @comment] do |f| %>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :toolbar => "Easy" %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
