<%= form_for(@blogpage) do |f| %>
  <% if @blogpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogpage.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @blogpage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :navigation_link %>
    <%= f.text_field :navigation_link %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content, :toolbar => "Easy" %>
  </div>
  <% if (current_user && current_user.role == "editor") %>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :tags %><br/>
    <%= f.text_area :tags, :size => "40x3", :style => "resize: none;" %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
