<h2>cases</h2> <div class="actions">
<% if can? :create, Case %>
	<%= link_to "Add new case", new_case_path %>
<% end %>
</div>
<% @cases.each do |page| %>
	<h3><%= link_to page.title, page %></h3>
	<div class="actions">
	<% if can? :update, page%>
		<%= link_to "Edit", edit_case_path(page) %>|
	<% end %>
	<% if can? :destroy, page %>
		<%= link_to "Delete", page, :confirm => "Are you sure you want to delete "+page.title+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</div>
	<%= truncate_html(page.content, :length => 400, :omission => '...') %>
<% end %>