<h2><%= @case.title %></h2>
<div class="actions">
<% if can? :update, @case %>
	<%= link_to "Edit", edit_case_path(@case) %>|
<% end %>
<% if can? :destroy, @case %>
	<%= link_to "Delete", @case, :confirm => "Are you sure you want to delete "+@case.title+"?\nThis action cannot be undone!", :method => :delete %>
<% end %>	
</div>
<%= raw @case.content %>
<% content_for :rightcol do %>
	<% if @agenda %>
		<div id='events'><h2>events</h2>
		<%= render :partial => "events" %>
		</div>
	<% end %>
<% end %>