<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<% if alert %>
	<p id="alert"><%= alert %></p>
<% end %>
<% if @about %>
	<% if @about.published %>
		<h2>about</h2>
		<hr/>
		<h3><%= @about.title %></h3>
		<div class="actions">
			<% if can? :update, @about %>
				<%= link_to "Edit", edit_about_path %>
			<% end %>
			</div>
		<%= raw truncator(@about.content, 600, '...') %>
		<p><%= link_to "read more/", about_path, :class => "readmore" %></p>
	<% end %>
<% end %>
<% if @cases %>
	<h2>Cases</h2><hr/>
	<% @cases.each do |page| %>
	<h3><%= page.title %></h3>
	<div id="actions">
	<% if can? :update, page %>	
		<%= link_to "Edit", edit_case_path(page) %>|
	<% end %>
	<% if can? :destroy, page %>
		<%= link_to "Delete", page, :confirm => "Are you sure you want to delete "+page.title+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</div>
	<%= raw truncator(page.content, 600, '...') %>
	<p><%= link_to "read more/", case_path(page), :class => "readmore" %></p>
	<% end%>
<% end %>
<% if @blogpages %>
	<h2>Blog</h2><hr/>
	<% @blogpages.each do |blogpage| %>
	<h3><%= blogpage.title %></h3>
	<div id="actions">
	<% if can? :update, blogpage %>
		<%= link_to "Edit", edit_blogpage_path(blogpage) %>|
	<% end %>
	<% if can? :destroy, blogpage %>
		<%= link_to "Delete", blogpage, :confirm => "Are you sure you want to delete "+blogpage.title+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</div>
	<%= raw truncator(blogpage.content, 600, '...') %>
	<p><%= link_to "read more/", blogpage_path(blogpage), :class => "readmore" %></p>
	<% end %>
<% end %>