<% if @about %>
	<% if @about.published %>
		<h2>about</h2>
		<hr/>
		<h3><%= @about.title %></h3>
		<%= truncate_html(@about.content, :length => 400, :omission => '...') %>
		<p><%= link_to "read more/", about_path, :class => "readmore" %></p>
	<% end %>
<% end %>
<% if @projects %>
	<h2>Projects</h2><hr/>
	<% @projects.each do |project| %>
	<h3>project.title</h3>
	<%= truncate_html(project.content, :length => 400, :omission => '...') %>
	<p><%= link_to "read more/", project_path(project), :class => "readmore" %></p>
	<% end%>
<% end %>