<% content_for :leftcol do %>
	<% if @sidetext %>
		<% if @sidetext.published %>
			<div class="actions">
				<% if can? :update, @sidetext %>
					<%= link_to "Edit", edit_about_path(@sidetext) %>
				<% end %>
			</div>
			<%= raw @sidetext.content %>
		<% end %>
	<% end %>
<% end %>
<% if @about %>
	<h2>about</h2>
	<% if @about.published %>
		<h3><%= @about.title %></h3>
		<div class="actions">
			<% if can? :update, @about %>
				<%= link_to "Edit", edit_about_path(@about) %>
			<% end %>
			</div>
		<%= raw truncator(@about.content, 600, '...') %>
		<p><%= link_to aboutdu_path, :class => "readmore" do %>
				<%= render :partial => "readmore" %>
			<% end%></p>
	<% end %>
<% end %>
<% if @cases %>
	<h2>cases</h2>
	<% @cases.each do |page| %>
	<h3><%= page.title %></h3>
	<div class="actions">
	<% if can? :update, page %>	
		<%= link_to "Edit", edit_case_path(page) %>|
	<% end %>
	<% if can? :destroy, page %>
		<%= link_to "Delete", page, :confirm => "Are you sure you want to delete "+page.title+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</div>
	<%= raw truncator(page.content, 600, '...') %>
	<p><%= link_to case_path(page), :class => "readmore"  do %>
			<%= render :partial => "readmore" %>
		<% end %>
	</p>
	<% end%>
<% end %>
<% if @blogpages %>
	<h2>blog</h2>
	<% @blogpages.each do |blogpage| %>
	<h3><%= blogpage.title %></h3>
	<div class="actions">
	<% if can? :update, blogpage %>
		<%= link_to "Edit", edit_blogpage_path(blogpage) %>|
	<% end %>
	<% if can? :destroy, blogpage %>
		<%= link_to "Delete", blogpage, :confirm => "Are you sure you want to delete "+blogpage.title+"?\nThis action cannot be undone!", :method => :delete %>
	<% end %>
	</div>
	<%= raw truncator(blogpage.content, 600, '...') %>
	<p><%= link_to blogpage_path(blogpage), :class => "readmore" do %>
			<%= render :partial => "readmore" %>
		<% end %>
	</p>
	<% end %>
<% end %>
<% content_for :rightcol do %>
	<%= render :partial => "events" %>
<% end %>