<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content, :toolbar => "Easy" %>
  </div>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <% if (current_user.role == "editor") %>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <% end %>
  <div class="field">
	<%= f.label :date %>
    <%= f.date_select :date, :start_year => 2010, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :external_link %>
    <%= f.text_field :external_link %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>