<h2>events</h2><div class="actions">
<% if can? :create, Event %>
	<%= link_to "New event", new_event_path %>
<% end %>
</div>
<% @events.each do |event| %>
	<h2>
	<% if event.external_link.blank? %>	
		<%= link_to event.title, event %>
	<% else %>
		<%= link_to event.title, event.external_link %>
	<% end %>
	</h2><i>on: <%= l(event.date, :format => "%d-%b-%Y") %></i><br/><hr/>
	<%= truncate_html(event.content, :length => 400, :omission => '...') %><hr/><hr/>
<% end %>