<% title("Events") %>
<h2>events</h2><div class="actions">
<% if can? :create, Event %>
	<%= link_to "New event", new_event_path %>
<% end %>
</div>
<% @new_events.each do |event| %>
	<% if can? :read, event %>
		<h3>
		<% if event.external_link.blank? %>	
			<%= link_to event.title, event %>
		<% else %>
			<%= link_to event.title, event.external_link, :target => "_blank" %>
		<% end %>
		</h3>
		<div class="actions"><div class="top0">
		<% if can? :update, event %>
			<%= link_to "Edit", edit_event_path(event) %> | 
		<% end %> 
		<% if can? :destroy, event %>
			<%= link_to "Delete", event_path(event), :confirm => "Are you sure you want to delete "+event.title+"?\nThis action cannot be undone!", :method => :delete %>
		<% end %></div></div>
		<p style="margin-top: 0px; margin-bottom: 0px;"><i>on: <%= l(event.date, :format => "%d-%b-%Y") %></i></p>
		<div class="post">
		<%= truncate_html(event.content, :length => 400, :omission => '...') %>
		<% if event.external_link.blank? %>
			<%= link_to "read more", event, :class => "readmore" %> <img src='/images/color_slash.gif'>
		<% else %>
			<%= link_to "read more", event.external_link, :class => "readmore" %> <img src='/images/color_slash.gif'>
		<% end %>
		</div><p/>
	<% end %>
<% end %>
<div id="spacing70"></div>
<h2>archive</h2>
<% @old_events.each do |event| %>
	<% if can? :read, event %>
		<h3>
		<% if event.external_link.blank? %>	
			<%= link_to event.title, event %>
		<% else %>
			<%= link_to event.title, event.external_link, :target => "_blank" %>
		<% end %>
		</h3>
		<div class="actions"><div class="top0">
		<% if can? :update, event %>
			<%= link_to "Edit", edit_event_path(event) %> | 
		<% end %> 
		<% if can? :destroy, event %>
			<%= link_to "Delete", event_path(event), :confirm => "Are you sure you want to delete "+event.title+"?\nThis action cannot be undone!", :method => :delete %>
		<% end %></div></div>
		<p style="margin-top: 0px; margin-bottom: 0px;"><i>on: <%= l(event.date, :format => "%d-%b-%Y") %></i></p>
		<div class="post">
		<%= truncate_html(event.content, :length => 400, :omission => '...') %>
		<% if event.external_link.blank? %>
			<%= link_to "read more", event, :class => "readmore" %> <img src='/images/color_slash.gif'>
		<% else %>
			<%= link_to "read more", event.external_link, :class => "readmore" %> <img src='/images/color_slash.gif'>
		<% end %>
		</div><p/>
	<% end %>
<% end %>