<% title(@event.title) %>
<% content_for :tags do %><%= @event.tags %><% end %>
<h2><%= @event.title %></h2> on <%= l(@event.date, :format => "%d %b %Y") %>
<div class="actions">
<% if can? :update, @event %>
	<%= link_to "Edit", edit_event_path(@event) %> |
<% end %>
<% if can? :destroy, @event %>
	<%= link_to "Delete", @event, :confirm => "Are you sure you want to delete "+@event.title+"?\nThis action cannot be undone!", :method => :delete %>
<% end %>	
</div>
<br/><br/>
<div class="post">
<%= raw @event.content %>
</div>
