<% content_for :leftcol do %>
	<div class='links'><h4>design united / 
		<% if @about.id == 1 %>
			<b>about /</b>
		<% else%>
			<%= link_to "about /", about_path %>
		<% end %></h4><p>
		<% if @about.id == 2 %>
			<b>introduction /</b>
		<% else%>
			<%= link_to "introduction /", introduction_path %>
		<% end %></p><p>
		<% if @about.id == 3 %>
			<b>beleid /</b>
		<% else%>
			<%= link_to "beleid /", beleid_path %>
		<% end %></p><p>
		<% if @about.id == 4 %>
			<b>activities /</b>
		<% else%>
			<%= link_to "activities /", activities_path %>
		<% end %></p><p>
		<% if @about.id == 5 %>
			<b>contact /</b>
		<% else%>
			<%= link_to "contact /", contact_path %>
		<% end %></p></div>
	</p>
<% end %>
<div><h2><%= @about.title %></h2></div>
<div class="actions">
<% if can? :update, @about %>
	<%= link_to "Edit", edit_about_path(@about) %>
<% end %>
</div>
<%= raw @about.content %>