<div id='events'><h2>Events</h2>
<table>
<% months = Array.new %>
<% @agenda.each do |event| %>
	<% unless months.include?(event.date.month) %>
		<% months << event.date.month %>
		<tr><td class="eventmonth" colspan=2><%= l(event.date, :format => "%B") %></td></tr>
	<% end %>
	<tr><td><%= l(event.date, :format => "%d") %></td>
	<td class="eventtitle"><b>
	<% if event.external_link %>
		<%= link_to event.title, event.external_link %>
	<% else %>
		<%= link_to event.title, event %>
	<% end %></b>
	</td></tr>
	<tr><td/>
	<td> <%= strip_tags(event.content) %><br/>
		<% if event.external_link %>
			<%= link_to "read more", event.external_link, :class => "readmore" %>  <img src='/images/color_slash.gif'>
		<% else %>
			<%= link_to "read more", event, :class => "readmore" %>  <img src='/images/color_slash.gif'>
		<% end %></td>
		</tr>
<% end %>
</table>