<%= link_to "home", root_path, :class => "navlink" %>
<%= link_to "about", about_path, :class => "navlink" %>
<%= link_to "projects", projects_path, :class => "navlink" %>
<%= link_to "cases", cases_path, :class => "navlink" %>
<%= link_to "blog", blogpages_path, :class => "navlink" %>
<a class="navlink" href="#">events</a>