<!DOCTYPE html>
<html>
<head>
  <title>DesignUnited</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
<div id='leftcol'><%= image_tag("DUlogo.png") %></div>
<div id='midcol'>
	<div id='navigation'>
		<%= render :partial => "nav" %>
	</div>
	<div id='content'>
		<%= yield %>
	</div>
</div>
<div id='rightcol'>
	<div id='search'><h4>search /</h4>
	<%= render :partial => "search" %>
	</div>
	<div id='login'><h4>login /</h4></div>
	<div id='events'><h4>Events</h4></div>
</div>
</div>
</body>
</html>
