<!DOCTYPE html>
<html>
<head>
  <title>DesignUnited</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
<div id='leftcol'>
<%= image_tag("DUlogo.png") %>
	<%= yield :leftcol %>
</div>
<div id='midcol'>
	<div id='navigation'>
		<%= render :partial => "nav" %>
	</div>
	<div id='content'>
		<%= yield %>
	</div>
</div>
<div id='rightcol'>
	<div id='search'><div class='backgroundtitle'><h4>search /</h4></div>
	<%= render :partial => "search" %>
	</div>
	<div id='login'>
		<div class='backgroundtitle'>
		<% if current_user %>
			<h4>Logged in as 
			<% if current_user.username.blank? %>
				<%= current_user.email %>
			<% else %>
				<%= current_user.username %>
			<% end %>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<h4><%= link_to "Sign up", signup_path %> or <%= link_to "log in /", login_path %></h4>
		<% end %>
		</div>
	</div>
		<%= yield :rightcol %>
	</div>
</div>
</div>
</body>
</html>
