<!DOCTYPE html>
<html>
<head>
  <title>DesignUnited</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='wrapper'>
<div id='leftcol'><%= image_tag("DUlogo.png") %></div>
<div id='midcol'>
	<div id='navigation'>
		<%= render :partial => "nav" %>
	</div>
	<div id='content'>
		<%= yield %>
	</div>
</div>
<div id='rightcol'>
	<div id='search'><h4>search /</h4>
	<%= render :partial => "search" %>
	</div>
	<div id='login'>
		<% if current_user %>
			<h4>Logged in as 
			<% if current_user.username.blank? %>
				<%= current_user.email %>
			<% else %>
				<%= current_user.username %>
			<% end %>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<h4><%= link_to "Sign up", signup_path %> or <%= link_to "log in /", login_path %></h4>
		<% end %>
	</div>
	<div id='events'><h4>Events</h4>
	<% @agenda = Event.find(:all, :order => "created_at DESC", :limit => 4) %>
	<% @agenda.each do |event| %>
		<%= link_to event.title, event %><i>on <%= l(event.date, :format => "%d-%b-%Y") %></i><hr/>
		<%= strip_tags(event.content) %>
	<% end %>
		
	</div>
</div>
</div>
</body>
</html>
